<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
    <title>Header</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav th:replace="fragments/topbar :: topbar"></nav>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div layout:fragment="content"></div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>